<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Remove Index.php from URL -->
                <rule name="RemoveIndexPhp" stopProcessing="true">
                    <match url="(.*)/index.php/(.*)" />
                    <action type="Redirect" url="{R:1}/{R:2}" redirectType="Permanent" />
                </rule>

                <!-- Redirect Trailing Slashes -->
                <rule name="RedirectTrailingSlashes" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Handle Front Controller -->
                <rule name="Laravel" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP 8.4" />
            <remove name="PHP 8.3" />
            <remove name="PHP 8.1" />
            <remove name="PHP 8.0" />
            <remove name="PHP 7.3" />
            <remove name="PHP 7.4" />
            <remove name="PHP 7.2" />
        </handlers>

        <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    </system.webServer>
</configuration>
